<html>
<head>
  <style>
    iframe {
      width: 600px;
      height: 400px;
      border: 0;
    }
  </style>
</head>
<body>

<h1>Homepage</h1>
<p>
<a href="https://www.google.com/calendar/render?cid=drinkups@gmail.com" target="_blank"><img src="https://www.google.com/calendar/images/calendar_plus_en.gif" height="17" alt="Add to Google Calendar"/></a>
<a href="https://www.google.com/calendar/feeds/drinkups%40gmail.com/public/basic" target="_blank"><img src="https://www.google.com/calendar/images/xml.gif" width="36" height="14"/></a>
<a href="https://www.google.com/calendar/ical/drinkups%40gmail.com/public/basic.ics" target="_blank"><img src="https://www.google.com/calendar/images/ical.gif" width="36" height="14"/></a>
</p>

<hr/>

<h1>Current Event</h1>
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=drinkups%40gmail.com&amp;color=%23875509&amp;ctz=Asia%2FShanghai"></iframe>

</body>
</html>